# Created by venv; see https://docs.python.org/3/library/venv.html

# Environnement virtuel
venv/

# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo

# Variables d'environnement (contient les infos sensibles !)
.env

# Base de données SQLite (si jamais utilisée)
*.sqlite3

# Médias uploadées par les utilisateurs
media/

# Fichiers VS Code
.vscode/

# Fichiers système Windows
Thumbs.db
desktop.ini