# ===== ENVIRONNEMENT PYTHON =====
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== VARIABLES D'ENVIRONNEMENT =====
.env
.env.local
.env.*.local

# ===== DJANGO =====
media/
staticfiles/
*.sqlite3

# ===== NODE / REACT =====
node_modules/
dist/
build/
*.local

# ===== ÉDITEURS =====
.vscode/
.idea/

# ===== SYSTÈME =====
Thumbs.db
desktop.ini
.DS_Store

# ===== LOGS =====
*.log
npm-debug.log*