SECRET_KEY=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
GOOGLE_CLIENT_ID=
GENIUSPAY_API_KEY=
GENIUSPAY_API_SECRET=
GENIUSPAY_BASE_URL=
GENIUSPAY_CALLBACK_URL=
GENIUSPAY_SUCCESS_URL=
GENIUSPAY_CANCEL_URL=
GENIUSPAY_WEBHOOK_SECRET=
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=