@import "tailwindcss";

@keyframes flotter {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-45px); }
  100% { transform: translateY(0px); }
}

.anime-flotter {
  animation: flotter 3s ease-in-out infinite;
}